@page "/links"

@using LinkerUi.Data
@inject LinkService LinkService
@inject IAuthorizationService AuthorizationService
@inject Sotsera.Blazor.Toaster.IToaster Toaster

<h1>Links</h1>

<button class="btn btn-primary" @onclick="CreateLink">Create new link</button>

@if (links == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var link in links)
    {
        <div>
            @link.Name
        </div>
    }
}

@code {
    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }
    private Link[] links;

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            // Perform some action only available to authenticated (logged-in) users
        }
        links = await LinkService.GetLinksAsync();
    }

    private void CreateLink()
    {
        // TODO
        // create CreateLinkRequest request
        LinkService.CreateLink(null).Wait();
        Toaster.Info("Link created?");
    }
}
